mod4/Demo-Saga-StateMachine.json
{
    "Comment": "A Catch example of the Amazon States Language using an AWS Lambda function",
    "StartAt": "Saga-Service-A",
    "States": {
       "Saga-Service-A": {
          "Type": "Task",
          "Resource": "arn:aws:lambda:ap-northeast-1:000000000000:function:Demo-Saga-Service-A",
         "ResultPath": "$.result",
          "Catch": [  {
             "ErrorEquals": ["States.ALL"],
             "ResultPath": "$.result",
             "Next": "Saga-Service-A-Rollback"
          } ],
         "Retry": [ {
             "ErrorEquals": [ "States.ALL" ],
             "IntervalSeconds": 1,
             "MaxAttempts": 2,
             "BackoffRate": 1.5
          } ],
          "Next": "Saga-Service-B"
       },
       "Saga-Service-A-Rollback": {
          "Type": "Task",
          "Resource": "arn:aws:lambda:ap-northeast-1:000000000000:function:Demo-Saga-Service-A-Rollback",
         "ResultPath": "$.result",
          "Next": "Fail"
       },
       "Saga-Service-B": {
          "Type": "Task",
          "Resource": "arn:aws:lambda:ap-northeast-1:000000000000:function:Demo-Saga-Service-B",
         "ResultPath": "$.result",
          "Catch": [  {
             "ErrorEquals": ["States.ALL"],
             "ResultPath": "$.result",
             "Next": "Saga-Service-B-Rollback"
          } ],
          "Retry": [ {
             "ErrorEquals": [ "States.ALL" ],
             "IntervalSeconds": 1,
             "MaxAttempts": 2,
             "BackoffRate": 1.5
          } ],
          "End": true
       },
       "Saga-Service-B-Rollback": {
          "Type": "Task",
          "Resource": "arn:aws:lambda:ap-northeast-1:000000000000:function:Demo-Saga-Service-B-Rollback",
          "ResultPath": "$.result",
          "Next": "Saga-Service-A-Rollback"
       },
      "Fail": {
          "Type": "Fail",
          "Error": "MyErrorCode",
          "Cause": "MyMessage"
      }
    }
 }